@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: yekanbakh;
    src: url(../fonts/yekanBakh/YekanBakh.Regular.ttf);
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: yekanbakh;
    src: url(../fonts/yekanBakh/YekanBakh.Medium.ttf);
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: Picoopic;
    src: url(../fonts/picoopic/picoopic-Bold.woff);
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: Picoopic;
    src: url(../fonts/picoopic/picoopic-Medium.woff);
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: Picoopic;
    src: url(../fonts/picoopic/picoopic-Regular.woff);
    font-weight: normal;
    font-display: swap;
}

* {
    color-scheme: dark;
}
body, #__next {
    @apply w-full bg-black-800 text-lenearWhite-900 f-col-center text-lg;
    font-family: yekanbakh, picoopic, Arial, Helvetica, sans-serif;
    direction: rtl;
}
.f-center {
    @apply flex justify-center items-center;
}
.f-start {
    @apply flex justify-center items-start;
}
.f-start-start {
    @apply flex justify-start items-start;
}
.f-col-center {
    @apply flex flex-col items-center;
}
.f-col-start {
    @apply flex flex-col items-start;
}
.f-col-end {
    @apply flex flex-col items-center justify-end;
}
.f-col-r-center {
    @apply flex flex-col-reverse justify-center items-center;
}
.f-between {
    @apply flex justify-between items-center;
}
.f-start-between {
    @apply flex justify-between items-start;
}
main > * {
    @apply mb-14 sm:mb-16;
}
@media (min-width: 1024px) {
    .lg\:f-between {
        @apply flex lg:justify-between lg:items-center;
    }
}
@media (min-width: 768px) {
    .md\:f-between {
        @apply flex md:justify-between md:items-center;
    }
    .md\:f-start-start {
        @apply flex md:justify-start md:items-start;
    }
}
@media (min-width: 480px) {
    .sm\:f-between {
        @apply sm:flex sm:flex-row sm:justify-between sm:items-center;
    }
}
.moteghayer-gradient {
    background-image: linear-gradient(-90deg, #fcaf21, #e49035, #7a2c00);
}
a {
    @apply hover:opacity-95 transition-opacity opacity-60;
}
.picoopicFont {
    font-family: picoopic;
}
h2 {
    @apply text-orange-800 text-2xl leading-3 md:text-4xl font-bold picoopicFont;
}
h3 {
    @apply text-orange-800 text-2xl font-semibold picoopicFont;
}
p {
    @apply mt-2 opacity-50 text-justify;
}
i {
    @apply block;
}
div {
    @apply text-lenearWhite-900;
}

.bp4-navbar {
    @apply !bg-black-750 text-opacity-70 text-lenearWhite-900;
}
.bp4-icon, a[target="_blank"], span > svg, .bp4-button-text, .bp4-input {
    @apply !text-base text-opacity-70 !border-black-600 !text-lenearWhite-900 placeholder:!text-lenearWhite-900 placeholder:!opacity-50;
}
.polotno-page-container > div > span > button > span > svg {
    @apply !text-black-500;
}
.bp4-input {
    @apply !bg-black-600 !pt-1.5 !pr-8 !pl-0 rounded-none border-0;
}
.bp4-input-group > .bp4-icon {
    @apply right-0;
}
.bp4-button-text {
    @apply !leading-none mt-1 !right-1 relative;
}
.bp4-divider {
    @apply !border-black-600;
}
/* button:hover {
    background-color: red !important;
} */