@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: yekanbakh;
    src: url(../fonts/yekanBakh/YekanBakh.Regular.ttf);
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: yekanbakh;
    src: url(../fonts/yekanBakh/YekanBakh.Medium.ttf);
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: Picoopic;
    src: url(../fonts/picoopic/picoopic-Bold.woff);
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: Picoopic;
    src: url(../fonts/picoopic/picoopic-Medium.woff);
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: Picoopic;
    src: url(../fonts/picoopic/picoopic-Regular.woff);
    font-weight: normal;
    font-display: swap;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  @apply bg-black-800; 
}
::-webkit-scrollbar-thumb {
    @apply bg-black-600;
}

::selection {
    @apply !bg-black-700;
    /* background-color: #e49035 !important; */
}
.bg-blur {
    @apply bg-opacity-70 backdrop-blur-xl shadow-xl;
}
* {
    color-scheme: dark;
    font-family: yekanbakh, picoopic, sans-serif, Helvetica, sans-serif;
    outline: none;
}
input, textarea {
    @apply bg-black-780 transition-shadow py-2 px-3 outline-none border border-lenearWhite-30 placeholder:text-lenearWhite-100 text-lenearWhite-700;
}
html {
    @apply h-full;
}
body, #__next {
    @apply w-full bg-black-800 text-lenearWhite-900 h-full f-col-center text-lg;
    direction: rtl;
}
.f-center {
    @apply flex justify-center items-center;
}
.f-start {
    @apply flex justify-center items-start;
}
.f-end {
    @apply flex justify-center items-end;
}
.f-start-start {
    @apply flex justify-start items-start;
}
.f-col-center {
    @apply flex flex-col items-center;
}
.f-col-start {
    @apply flex flex-col items-start;
}
.f-col-end {
    @apply flex flex-col items-center justify-end;
}
.f-col-r-center {
    @apply flex flex-col-reverse justify-center items-center;
}
.f-between {
    @apply flex justify-between items-center;
}
.f-start-between {
    @apply flex justify-between items-start;
}
main > * {
    @apply mb-14 sm:mb-16;
}
@media (min-width: 1024px) {
    .lg\:f-between {
        @apply flex lg:justify-between lg:items-center;
    }
}
@media (min-width: 768px) {
    .md\:f-between {
        @apply flex md:justify-between md:items-center;
    }
    .md\:f-start-start {
        @apply flex md:justify-start md:items-start;
    }
}
@media (min-width: 480px) {
    .sm\:f-between {
        @apply sm:flex sm:flex-row sm:justify-between sm:items-center;
    }
}
.moteghayer-gradient {
    background-image: linear-gradient(-90deg, #fcaf21, #e49035, #7a2c00);
}
input:focus {
    box-shadow: 0 0 0 5px #ffffff20;
}
a {
    @apply hover:opacity-100 opacity-50 text-lenearWhite-500 transition-opacity !no-underline;
}
.picoopicFont {
    font-family: picoopic;
}
h2 {
    @apply text-orange-800 leading-9 !mb-4 text-2xl md:text-4xl font-bold picoopicFont;
}
h3 {
    @apply text-orange-800 text-2xl font-semibold picoopicFont;
}
p {
    @apply mt-2 opacity-50;
}
i {
    @apply block;
}
div {
    @apply text-lenearWhite-900;
}
button, a {
    @apply md:cursor-pointer cursor-default ;
}
.bp4-navbar {
    @apply !bg-black-750 text-lenearWhite-700;
}
.bp4-icon, a[target="_blank"], span > svg, .bp4-button-text, .bp4-input {
    @apply !text-base !border-black-600 !text-lenearWhite-700 placeholder:!text-lenearWhite-200;
}
.polotno-page-container > div > span > button > span > svg {
    @apply !text-black-500;
}
.bp4-input {
    @apply !bg-black-600 !pt-1.5 !pr-8 !pl-0 rounded-none border-0;
}
.bp4-input-group > .bp4-icon {
    @apply right-0;
}
.bp4-button.bp4-minimal > .bp4-button-text {
    @apply !leading-none mt-1 !right-1 relative;
}
.bp4-divider {
    @apply !border-black-600;
}
.go141666149:hover, .go141666149.active {
    @apply transition-colors;
    background-color: #3a3a3a !important;
}
.go3009151065 {
    @apply !h-full;
}
@media screen and (max-width: 500px) {
    .go141666149 {
        height: 70px !important;
    }
}

.go3464034812::-webkit-scrollbar {
    height: 4px;
}
.go3464034812::-webkit-scrollbar-track {
  background: #00000000; 
}
.go3464034812::-webkit-scrollbar-thumb {
  background: #444; 
}
.go242266285.bp4-navbar.polotno-panel-container {
    @apply !pb-0 !pr-0;
}
.go242266285.bp4-navbar.polotno-panel-container>div>p {
    @apply hidden;
}
.bp4-input-group {
    @apply pr-3;
}
.bp4-icon.bp4-icon-search {
    @apply relative right-4;
}
.bp4-input {
    @apply !p-5 !rounded-md;
}
.go141666149.polotno-side-panel-tab {
    @apply !pt-2;
}
.bp4-icon.bp4-icon-search {
    @apply p-1 !w-6 !mr-auto;
    direction: ltr;
    font-family: yekanbakh !important;
}
.go4160152499 {
    @apply pr-2;
    direction: ltr;
}
.bp4-control.bp4-switch.bp4-align-right {
    @apply flex justify-center;
}
.go242266285.bp4-navbar.polotno-panel-container > div > div {
    @apply pr-2.5;
}
.bp4-tab {
    @apply !text-orange-800 ml-3;
} 
.bp4-tab[aria-selected="false"] {
    @apply !text-orange-800 opacity-50 ml-3;
} 
.bp4-tab-indicator {
    @apply !bg-orange-800;
}
.go2230631831 {
    @apply !pt-0;
}
.bp4-button.bp4-minimal.bp4-align-left > svg {
    @apply invert;
}
span.bp4-button-text > span {
    @apply mb-1 !text-sm;
    direction: ltr !important;
    font-family: Arial, Helvetica, sans-serif !important;
}
.bp4-button-text {
    direction: ltr !important;
    @apply !m-auto flex justify-between items-center;
}
.bp4-icon.bp4-icon-import {
    @apply !mr-0 ml-1;
}
.bp4-button.bp4-minimal > .bp4-button-text {
    @apply !mt-1;
}
.bp4-control-indicator {
    @apply !mt-1;
}
label > .bp4-button, .bp4-button[aria-controls="numericInput-11"], .bp4-button[aria-controls="numericInput-9"] {
    @apply !bg-orange-900 bg-opacity-20 !rounded-md;
}
label > .bp4-button > span {
    @apply !ml-2 !mr-0;
}
.btn {
    @apply bg-orange-900 bg-opacity-20 text-orange-900 px-5 py-2;
}